.info__container {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px;
  width: 100%;
  text-align: right;
}

.info__container > b {
  text-align: left;
}

@media screen and (max-width: 1610px) {
  .info__container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .info__container {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 300px) {
  .info__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem 0px;
    text-align: left;
  }
}
