.skill_card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__img {
  object-fit: cover;
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 10px;
}

.card__title {
  font-size: 1.2rem;
  margin-top: 0.6rem;
  font-weight: 500;
  font-size-adjust: 1.5rem;
  text-align: center;
  white-space: pre-line;
}

.card__level {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2px;
}

@media screen and (max-width: 800px) {
  .card__title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .skill_card__container {
    margin: 8px;
  }
  .card__img {
    height: 80px;
    width: 80px;
  }
  .card__title {
    font-size: 0.8rem;
  }
}
