.profile__container {
  background-color: #f4f4f4;
  overflow: hidden;
}

.profile__inner_container {
  padding: 4rem 18rem;
}

.profile__inner_container > h1 {
  text-align: center;
}

.profile__info_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  white-space: pre-line;
}

.profile__about_container {
  width: 40%;
  margin: 1rem;
  line-height: 150%;
}

.profile__title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.profile__description_container > p {
  font-size: 1.1rem;
}

@media screen and (max-width: 1610px) {
  .profile__inner_container {
    padding: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .profile__inner_container {
    padding: 2rem;
  }
  .profile__about_container {
    width: 100%;
    margin-top: 3rem;
  }

  .profile__description_container > p {
    font-size: 0.9rem;
  }
}
