.info_card_container {
  background-color: white;
  width: 40%;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 10px 10px #a3a3a3;
}

.info_card_title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ea2678;
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .info_card_container {
    width: 100%;
    padding: 1rem;
  }
  .info_card_title {
    font-size: 1.4rem;
  }
}
