.navbar__container {
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
}

.navbar__inner_container {
  height: 2.2rem;
  display: flex;
  width: 42%;
  align-items: center;
  justify-content: flex-start;
}

.navbar__switch_container {
  position: relative;
}

.line {
  height: 1.2rem;
  margin: 0 1rem;
}

.language {
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 0.95rem;
  text-decoration: none;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.language:hover {
  font-size: 1rem;
}

@media screen and (max-width: 860px) {
  .navbar__inner_container {
    width: 75%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .navbar__inner_container {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .navbar__inner_container {
    width: 97%;
  }
  .navbar__container {
    margin-bottom: 1rem;
  }
  .navbar__inner_container {
    flex-wrap: wrap;
  }
  .navbar__switch_container {
    margin-bottom: 0.4rem;
  }
  .line {
    display: none;
  }
}
