.projects__container {
  padding: 4rem 18rem;
}

.projects__container > h1 {
  text-align: center;
}

.projects__inner_container {
  margin-top: 2rem;
}

@media screen and (max-width: 1610px) {
  .projects__container {
    padding: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .projects__container {
    padding: 2rem;
  }
}
