.skills__inner_container {
  padding: 2rem 18rem;
  margin-bottom: 4rem;
  overflow: hidden !important;
}

.skills__inner_container > h1 {
  text-align: center;
}

.skills__card_container {
  margin-top: 2rem;
}

.skills__card_inner_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.skills__card_container > h2 {
  font-weight: 500;
  font-size: 1.3rem;
}

@media screen and (max-width: 1610px) {
  .skills__inner_container {
    padding: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .skills__inner_container {
    padding: 2rem;
  }
}
